<div>
    <style type="text/css">
        .ap-attachments-container {
            min-height: 200px;
        }

        .ap-attachments-container .ap-add-attachments {
            height: 110px;
        }

        .ap-attachments-container .ap-add-attachments iframe {
            height: 95px;
        }
    </style>


    <div class="ap-attachments-container">
        <fieldset ng-disabled="disabled">

            <!---==============MODERN BROWSER=============-->
            <div ng-if="!state.legacyBrowser">
                <div ng-if="!state.uploading">
                    <div class="input-group">
                        <input type="file" id="ap-file" name="file" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"
                                    ng-click="uploadAttachment()">Add</button>
                        </span>
                    </div>
                    <p class="help-block">Select the files you want to upload and then click the Add button.</p>
                </div>
                <div ng-show="state.uploading" class="alert alert-info txt-align-center">
                    <i class="fa fa-spinner fa-spin"></i> processing request...
                </div>
            </div>

            <!---==============LEGACY BROWSER=============-->
            <div class="hidden-print" ng-if="state.legacyBrowser">
                <div class="ap-add-attachments">
                    <h4>
                        <small>Add Attachment</small>
                    </h4>
                    <iframe frameborder="0" seamless="seamless" width="100%"
                            src="{{ trustedUrl }}" id="ap-attachments-iframe"
                            scrolling="no"></iframe>
                </div>
            </div>

            <!---==============LIST OF ATTACHMENTS=============-->
            <div ng-if="listItem.attachments.length > 0">
                <hr class="hr-sm">
                <h4>
                    <small>Attachments</small>
                </h4>

                <ul class="list-unstyled">
                    <li ng-repeat="attachment in listItem.attachments">
                        <a href="{{ attachment }}" target="_blank">{{ fileName(attachment) }}</a>
                        <button type="button" class="btn btn-link" ng-click="deleteAttachment(attachment)"
                                title="Delete this attachment">
                            <i class="fa fa-times red"></i>
                        </button>
                    </li>
                </ul>

            </div>


        </fieldset>

    </div>
</div>
